/* 🎨 Thème clair (par défaut) */
:root {
    --primary-color: #007bff;
    --secondary-color: #638bc5;
    --tertiary-color: #e6ff00;
    --success-color: green;
    --warning-color: orange;
    --error-color: red;
    --text-color: black;
    --background-color: var(--secondary-color);
}

/* 🌙 Thème sombre */
:root[data-theme='dark'] {
    --primary-color: #3b82f6;
    --secondary-color: #1e293b;
    --tertiary-color: #cbd5e1;
    --success-color: #22c55e;
    --warning-color: #f59e0b;
    --error-color: #ef4444;
    --text-color: #f1f5f9;
    --background-color: #0f172a;
}

body {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-color: var(--background-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}
